.basis {
  font-family: 'Dosis', sans-serif;
}

.titlePaper {
  font-size: 30px;
  font-weight: bold;
}

.datePaper {
  font-size: 20px;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.date {
  font-size: 30px;
  font-weight: 300;
}

.sections {
  display: table;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 300;
}

.price {
  font-size: 25px;
}